.quote-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 750px) {
    .quote-cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (min-width: 1200px) {
    .quote-cards-container {
        grid-template-columns: repeat(3, 1fr); /* 4 columns for large screens */
    }
}

.quote-card-text {
    white-space: pre-wrap;
    text-align: left;
    font-style: italic;
    font-family: serif;
    font-size: 1.1em;
}

.quote-card-footer {
    justify-content: right;
    font-weight: bold;
    color: var(--foreground-muted);
}
